# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://rzuucojbstfabwewbrzg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ6dXVjb2pic3RmYWJ3ZXdicnpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg5ODg2NTgsImV4cCI6MjA0NDU2NDY1OH0.0DW39qM78bu3GwdznFAYMxqXeqBKjvOW6c1_7O8-5Fc
