@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

.dark {
  --background: 217 33% 17%;
  --foreground: 210 40% 98%;

  --card: 222 47% 11%;
  --card-foreground: 210 40% 98%;

  --popover: 222 47% 11%;
  --popover-foreground: 210 40% 98%;

  --primary: 217 91% 60%;
  --primary-foreground: 222 47% 11%;

  --secondary: 217 33% 17%;
  --secondary-foreground: 210 40% 98%;

  --muted: 215 25% 27%;
  --muted-foreground: 215 20% 65%;

  --accent: 217 33% 17%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 63% 31%;
  --destructive-foreground: 210 40% 98%;

  --border: 215 25% 27%;
  --input: 215 25% 27%;
  --ring: 216 34% 17%;
}

.bg-main-gradient {
  background: linear-gradient(135deg, #1E3A8A, #1E40AF, #3B82F6);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

@layer base {
  body {
    @apply bg-background text-foreground min-h-screen;
  }
}

body {
  /*color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));*/
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  @apply bg-main-gradient;
}